.nav-wrapper {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente, se necessário */
    /* padding: 0px 0px; */
    margin: 0px;
    font-size: 2rem;
}


/* https://colorkit.co/background-maker/ff892d-14a6b2-4c4c4d/ */
/* https://www.canva.com/colors/color-palette-generator/ */
body {
    background: url('/public/assets/images/background.png') no-repeat center center fixed;
    background-size: cover;
}

.custom-navbar-orange {
    background-color: #FF882A !important;
    border-radius: 20px;
}

.custom-navbar-teal {
    background-color: #14A6B1 !important;
    border-radius: 20px;
    width: 50%;
}

.borda {
    border-radius: 10px;
}

.branca {
    background-color: #ffffff !important;
}